logs
*.log
npm-debug.log*
node_modules
stacktrace*
.idea
*.iml
build
.vs/
.env
prebuilds
builds
*.DS_Store
examples/electron-example/.DS_Store

.deps/
libuiohook/include/config.h
libuiohook/include/stamp-h1
yarn.lock
libuiohook/Makefile
libuiohook/config.status
libuiohook/libtool
libuiohook/pc/uiohook.pc